<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Facile Handover System</title>
    <link rel="shortcut icon" type="image/png" href="/facile.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
 

      
    
        
    </style>
</head>
<body id="page-public">
    <section id="passport">

    <div class="passport-left">
        <h1>Facile Handover System</h1>
    </div>
    <div class="passport-right">
        
        @RenderBody()
        </div>
    </section>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/foundation")
        @RenderSection("scripts", required: false)
        <script>
            $(document).foundation();
        </script>

</body>
</html>



