@model HandoverTracker.Models.UserViewModel

@{
    ViewBag.Title = "Edit User";
}

<fieldset>
    <legend>@ViewBag.Title</legend>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row">
                <div class="large-12 columns">
                    @Html.ValidationSummary(true)
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                        @Html.DisplayFor(model => model.UserName)
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label>
                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.FirstName, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>
                        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.LastName, new { required = "required" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Email, new { required = "required", type = "email" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        @Html.LabelFor(model => model.Roles, new { @class = "control-label col-md-2" })
                        @Html.CheckBoxList(Model.RoleList)
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <button type="submit" value="Save">Save</button>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</fieldset>
