@model IEnumerable<HandoverTracker.Models.Activty>

@{
    ViewBag.Title = "Activties";
}

<fieldset>
    <legend>@ViewBag.Title</legend>
    @if (User.IsInRole("Admin") || User.IsInRole("Product Owner"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table style="width:100%;" class="responsive">
        <tr>
            <th width="50%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th width="20%"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Type == 1)
                    {
                        <span>PDMangementActivties</span>
                    }
                    else if (item.Type == 2)
                    {
                        <span>PDDevelopmentActivties</span>

                    }
                    else if (item.Type == 3)
                    {
                        <span>PDHandoverActivties</span>

                    }
                    else if (item.Type == 4)
                    {
                        <span>TMangementActivties</span>

                    }
                    else if (item.Type == 5)
                    {
                        <span>THandoverActivties</span>

                    }
                    else if (item.Type == 6)
                    {
                        <span>PTDManagementActivties</span>

                    }
                    else if (item.Type == 7)
                    {
                        <span>PTDHandoverActivties</span>

                    }
                </td>
                <td>
                    @if (item.IsDeletable && (User.IsInRole("Admin") || User.IsInRole("Product Owner")))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ActivtyID }) <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ActivtyID })
                    }
                </td>
            </tr>
        }

    </table>
</fieldset>
