@model IEnumerable<HandoverTracker.Models.Artifact>

@{
    ViewBag.Title = "Artifacts";
}

<fieldset>
    <legend>@ViewBag.Title</legend>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table style="width:100%;" class="responsive">
        <tr>
            <th width="30%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="55%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th width="15%"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if(item.IsDeletable)
                    { 
                        @Html.ActionLink("Edit", "Edit", new { id = item.ArtifacatID }) <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ArtifacatID })
                    }
                </td>
            </tr>
        }

    </table>
</fieldset>
